<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Edit Appointment</title>

</head>
<body>
     <form method="post" action="{{ url_for('edit', appointment_id=appointment['id']) }}" , align="center">
         <label for="new_date">New Date</label>
         <input type="date" name="new_date" value="{{appointment['date']}}" required>
         <button type="submit">Update Appointment</button>
     </form>
</body></html>